<main class='content container'>
  <h1>List of posts from <%= @user&.name %></h1>
  <ul>
    <li><%= render @user %></li>
    <% @posts.each do |post| %>
      <li><%= render post %></li>
      <% post.last_5_comments.each do |comment| %>
        <li><%= render 'comment', comment: comment %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="text-center">
    <%= link_to "Create New Post", new_user_post_path(@user), class: "button btn btn-primary" %>

    <%= link_to "Pagination", users_path, class: "button btn btn-primary" %>
  </div>
</main>